{% include 'header.html' %}
    <section>
        <div class="container "  style="background-color: indianred;padding-top: 10px;">
            <div class="row">
                <main class="col-md-12 main-content">
                    <article class="post page">
                        <section class="post-content">
                            <blockquote>
                              <p>资源分类还在优化,目前请大家使用书名关键字进行搜索,后期将不断更新新的书单列表</p>
                            </blockquote>
                            <hr>
                            <p>关于本站：</p>
                            <ul>
                            <li>本站为大家展示书单列表,方便大家浏览</li>
                            <li>如在使用中有什么问题或者建议,请关注下方公众号直接回复或发送邮件到624212482@qq.com</li>
                            <li>所有资源和下载地址均来自于第三方网站，本站并不提供资源存储,仅供测试和学习交流,请大家支持正版。如果有侵犯版权的资源请发送邮箱至 624212482@qq.com，我们会在24小时之内处理。</li>
                            </ul>
                            <hr>
                            
                            <p>关注无术拾遗：</p>
                            <p class="" style="font-size: 16px;">公众号将不定期分享优质书籍和学习资源。学而无术，拾遗补阙。持续学习，路虽远，行则将至 。共勉。</p>
                            <div class="text-center"><img src="https://harveyyeung.github.io/images/book1/icon/qrcode.jpg" style="width: 250px;" alt="无术拾遗"></div>
                            
                            
                            <h5 class="title">捐赠支持:</h5>
                            <div class="text-center">
                                    <img src="https://harveyyeung.github.io/images/book1/icon/pay.jpg" style="width: 250px;">
                            </div>
                        </section>
                    
                    </article>
                            
                </main>
        
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</body>
</html>