<footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="title">友链</h4>
                        <div class="content tag-cloud friend-links">
                            <a href="http://www.bootcss.com" title="Bootstrap中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Bootstrap中文网'])" target="_blank">Bootstrap中文网</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="title">标签</h4>
                        <div class="content tag-cloud">
                                <a href="/?c=1">IT·互联网</a>
                                <!-- <a href="/tags">...</a> -->
                           </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="title">版权声明</h4>
                        <div class="content tag-cloud friend-links">
                          <p>所有资源和下载地址均来自于第三方网站，本站并不提供资源存储,仅供测试和学习交流,请大家支持正版。如果有侵犯版权的资源请发送邮箱至 624212482@qq.com，我们会在24小时之内处理。</p>
                        </div>
                </div>
            </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <span>Copyright © BookList</span>
                        <!-- <span><a href="http://www.miibeian.gov.cn/" target="_blank"></a></span> | 
                        <span></span> -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" id="back-to-top" ><i class="glyphicon glyphicon-menu-up"></i></a>