<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>书单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='bootstrap/css/bootstrap-theme.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='common.css')}}" />
    <link rel="icon" href="static/favicon.ico">
    <script src="{{url_for('static', filename='lib/jquery-3.3.1.min.js')}}"></script>
    
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='common.js')}}"></script>
</head>
<body class="booklist">
<header class="main-header" style="background-image: url(static/4.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <!-- start logo -->
                <a class="branding"><img src="static/logo5.png"></a>
                <!-- end logo -->
            </div>
        </div>
    </div>
</header>
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="glyphicon glyphicon-th"></i>
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                            <li class="{{'nav-current' if page=='index'}}" role="presentation"><a href="/">首页</a></li>
                            <li class="{{'nav-current' if page=='meet'}}"  role="presentation"><a href="/meetup">随遇而安</a></li>
                            <li class="{{'nav-current' if page=='about'}}" role="presentation"><a href="/about">关于</a></li>
                    </ul>   
                </div>
           
            </div>
        </div>
    </div>
</nav>