<header class="main-header" style="background-image: url(static/4.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <!-- start logo -->
                <a class="branding" href="http://www.ghostchina.com" title="Ghost 开源博客平台"><img src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" alt="Ghost 开源博客平台"></a>
                <!-- end logo -->
                <h2 class="text-hide">Ghost 是一个简洁、强大的写作平台。你只须专注于用文字表达你的想法就好，其余的事情就让 Ghost 来帮你处理吧。</h2>

                <img src="http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg" alt="Ghost 博客系统" class="hide">
            </div>
        </div>
    </div>
</header>
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="glyphicon glyphicon-th"></i>
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                            <li class="nav-current" role="presentation"><a href="/">首页</a></li>
                            <li role="presentation"><a href="http://wenda.ghostchina.com">论坛</a></li>
                            <li role="presentation"><a href="/ghost-cheat-sheet/">快捷手册</a></li>
                            <li role="presentation"><a href="http://docs.ghostchina.com/zh/">中文文档</a></li>
                            <li role="presentation"><a href="/download/">下载</a></li>
                            <li role="presentation"><a href="/about/">关于</a></li>
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</nav>