{% include 'header.html' %}
    <section>
        <div class="container "  style="background-color: indianred;padding-top: 10px;">
            <div class="row"><div class="col-md-12 main-content" style="text-align: center;"><img src="static/xiazai.png" style="height: 100px;padding: 10px;"></div></div>
           
            <div class="row text-center">
                <form role="search" class="form-inline" action="/" method="get" >
                    <div class="form-group">
                    <input id="searchText" name="q" value="" placeholder="书名关键字" type="text" class="form-control">
                    </div>
                    <button class="btn  btn-default  btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                    </button>
                    <div class="top-tags" >
                            <span>热门标签:</span>
                            <a href="/?c=1">IT·互联网</a>
                   </div>
                </form>
         
            </div>
            <div class="row">
               <div class="col-md-9 main-content">
                <div class="row">
                       
                     {% for book in booklist["list"] %}
                      <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <a href="#">
                              <img  src="static/image/{{book['image']}}.jpg" data-holder-rendered="true" style="height: 200px;width: 170px; display: block;  border: 1px solid #a0a0a0;">
                                </a>
                              <div class="caption">
                                <h5>{{book['title']}}</h5>
                                <p></p>
                       
                              </div>
                              <a class="btn-default btn-xs" style="
                              bottom: 2px;
                              right: 5px;
                              position: absolute;" href="{{book['ctno']}}" target="_blank" role="button">下载</a>
                            </div>
                        </div>                 
                      {% endfor %}
                  </div>
                  <div class="text-center">
                       <nav aria-label="...">
                        <ul class="pager">
                          <li class="{{'disabled' if booklist['pageNum']==1}}"><a href="javascript:previousPage({{booklist['pageNum']}});">Previous</a></li>
                          <li><span>{{booklist["pageNum"]}}/ {{booklist["total"]}}</span></li>
                          <li class="{{'disabled' if booklist['pageNum']==booklist['total']}}"><a href="javascript:nextPage({{booklist['pageNum']}},{{booklist['total']}});">Next</a></li>
                          <li>       
                            <div style="display: inline-block;">
                                <div class="input-group" style="display: inline-flex;">
                                <input id="goPageNum" type="number" max="{{booklist["total"]}}" step="1" min="1" class="form-control" style="width: 70px;">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button" onclick="gotoPageNum({{booklist['total']}})">Go!</button>
                                </span>
                                </div><!-- /input-group -->
                            </div>
                        </li>
                        </ul>
                 
                       </nav>
                 
                  </div>
               </div>
               {% include 'sidebar.html' %}
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</body>
</html>