<div class="col-md-3 sidebar">
        <!-- start tag cloud widget -->
        <div class="widget">
            <h5 class="title">关注无术拾遗</h5>
            <!-- end widget -->	
            <div class="content ">
                <p>
                  公众号将不定期分享优质书籍和学习资源。学而无术，拾遗补阙。持续学习，路虽远，行则将至 。共勉。
                </p> 
                <img src="static/qrcode.jpg" style="width: 100%;">
            </div>
        </div>
        <!-- end tag cloud widget -->	
        <!-- start tag cloud widget -->
        <!-- <div class="widget">
            <h4 class="title">标签云</h4>
            <div class="content tag-cloud">
                <a href="/tags">...</a>
            </div>
        </div> -->
        <!-- end tag cloud widget -->	     
        <!-- start widget -->
        <div class="widget">
            <h5 class="title">PC电子书阅读器-calibre</h5>
            <div class="content text-center">
                <img src="static/calibre.png" style="width: 100%;">
                <p>
                推荐大家一个牛逼的电子书阅读器calibre，几乎目前所有的电子书格式都能通杀，本人目前就在使用此软件阅读，而且支持各电子书格式转换。最重要的一点是免费，开源，还好用
                </p> 
                <a href="http://calibre-ebook.com/"  target="_blank" >calibre官网</a>
            </div>
            <div class="content download">
                <a href="https://jackmk.ctfile.com/fs/14155983-303170730" target="_blank"  class="btn btn-default btn-block" >window版下载</a>
                <a href="https://jackmk.ctfile.com/fs/14155983-303171156" target="_blank"  class="btn btn-default btn-block" >osx(mac)版下载</a>
            </div>
        </div>
        <!-- start widget -->
         <div class="widget">
            <h5 class="title">捐赠支持，您的支持最大动力</h5>
        <!-- end widget -->	
            <div class="content ">
                    <img src="static/pay.jpg" style="width: 100%;">
            </div>
        </div>
        <!-- end widget -->	
   </div>