<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='bootstrap/css/bootstrap-theme.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='common.css')}}" />
    <script src="{{url_for('static', filename='lib/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='common.js')}}"></script>
</head>
<body class="booklist">
    {% include 'header.html' %}
    <section>
        <div class="container "  style="background-color: indianred">
            <div class="row">
               <div class="col-md-9 main-content">
                    <article class="post page">
                            <header class="post-head">
                                <h1 class="post-title">标签云</h1>
                            </header>
                            <section class="post-content widget">
                                <div class="tag-cloud">
                                    <!-- <a href="/tag/backup/">备份</a> -->
                                </div>
                            </section>
                        </article>

               </div>
               {% include 'sidebar.html' %}
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</body>
</html>








